test.py
clases/estructura-datos.py
clases/funciones.py
Ejercicios/ejercicio-clase-2-automatizacion.py
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/calculadora.cpython-312.pyc
tests/__pycache__/test_calculadora.cpython-312-pytest-8.4.2.pyc
Ejercicios/calculadora.py
tests/__pycache__/calculator.cpython-312.pyc
tests/__pycache__/test_calculator.cpython-312-pytest-8.4.2.pyc
